
.container {
    max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: 'Inter', sans-serif;
  }

  .back_button {
    background-color: #F00A21;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  }

  .back_button:hover {
    background-color: #e74c3c;
  }
  
  
  .h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details p {
    margin-bottom: 5px;
  }
  
  .status {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .confirmed {
    color: green;
  }
  
  .qr_code {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  .info {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .footer {
    bottom: 0;
    background-color: #f9f9f9;
    border: 3px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    position: sticky;
    bottom: 10px;
  }
  
  .footer button {
    border: none;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .footer button:hover {
    background-color: #fff;
  }
  
  .icon1 {
    width: 2em;
    height: 2em;
  }
  
  .icon2 {
    width: 2.5em;
    height: 2em;
  }
  
  .icon3 {
    width: 2.7em;
    height: 2em;
  }
  
  .icon4 {
    width: 2.5em;
    height: 2em;
  }
  