

.container {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  width: 50%;
  height: 70%;
  background-color: #F5F5F5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70%;
  height: 5%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #CC081B;
  margin: 20px auto;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button button {
  outline: none;
  border: none;
  color: #333;
  margin-top: 10px;
  padding: 10px 22px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.button button:hover {
  background: #AF2020;
  color: #fff;
}

.help {
  background-color: #fff;
  border: 1px solid #ccc;
}

.conf {
  background-color: #AF2020;
  color: #fff;
}

.sair {
  background-color: #AF2020;
  color: #fff;
}